*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif ;
}

body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.App {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;

}

.calc {
  /* background-color: rgba(0, 51, 118, 0.502); */ 
  border-radius: 20px;
  min-height: 300px;
  max-width: 300px ;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  
}

.display {
  background-color: #3c454c8d;
  color: aliceblue;
  text-align: right;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 200;
  min-height: 60px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 16px;
  color: whitesmoke;
  transition: 0.8sec;
  background-color: #3c454c8d;
  
}

button:hover {
  opacity: 0.75;

}

.operators {
  display: flex;
}

.operators button {
  background-color: #3c454cd6 ;
  flex: auto ;
}
.digits {
  display: flex;
  flex-wrap: wrap; 
}

.digits button {
  flex: 1 1 33.3%;
}
.res {
  color: rgba(147, 188, 223, 0.474);
  font-size: 18px;
}
.del {
  background-color: #3c454cd8;
}