*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif ;
}

body {
  background-color: rgba(0, 0, 0, 0.866);
}

.App {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;

}

.calc {
  background-color: rgba(32, 1, 133, 0.289);
  border-radius: 20px;
  min-height: 300px;
  max-width: 300px ;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  
}

.display {
  background-color: rgba(157, 164, 176, 0.417);
  color: aliceblue;
  text-align: right;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 200;
  min-height: 60px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 16px;
  color: rgb(213, 213, 213);
  transition: 0.8sec;
  background-color: rgba(93, 161, 159, 0.515);
}

button:hover {
  opacity: 0.75;

}

.operators {
  display: flex;
}

.operators button {
  background-color: rgba(6, 248, 199, 0.377);
  flex: auto ;
}
.digits {
  display: flex;
  flex-wrap: wrap; 
}

.digits button {
  flex: 1 1 33.3%;
}